@import"./partials.scss/colors";
@import"./partials.scss/header";
@import"./partials.scss/hero";
@import"./partials.scss/generalInfo";
@import"./partials.scss/aside";
@import"./partials.scss/footer";


body {
    background-color: #F5F4F9;
}

p,
h3,
h4 {
    margin: 0;
}

p {
    line-height: 2rem;
    font-size: 1.5rem;
}

.card-footer {
    background-color: white;
}


// MEDIA QUERIES


@media screen and (max-width:1600px) {
    #hero .hero-welcome {
        padding-left: 6rem;
    }
}

@media screen and (max-width: 992px) {
    #hero .hero-welcome {
        padding: 2rem;

        h1 {
            font-size: 3.5rem;

        }

        .btn {
            font-size: 1.3rem;
            padding: 1rem 1.3rem
        }
    }

    .trending {
        border-bottom: 1px solid rgba(235, 228, 228, 0.726);
        padding-bottom: 7rem;
        margin-bottom: 1rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        row-gap: 1.1rem;
    }

    .footer-links a {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 768px) {

    .footer-links a {
        margin-left: 1.2rem;
        font-size: 1rem;
    }
}