<ng-container *ngIf="moviesList; then showmovies; else sorry"></ng-container>

<ng-template #showmovies>
  <div class="container-fluid">
    <div class="row row-gap-3">
      <div class="cardwrapper col-3" *ngFor="let singleMovie of moviesList">
        <div class="card h-100">
          <img
            src="{{ poster }}{{ singleMovie.poster_path }}"
            class="card-img-top"
            alt="movie poster"
          />
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">{{ singleMovie.title }}</h5>
            <div class="d-flex flex-column">
              <p class="card-text mb-2">id: {{ singleMovie.id }}</p>
              <a
                [routerLink]="['/movies', singleMovie.id]"
                class="btn btn-primary mb-2"
                >DETAIL</a
              >

              <ng-container *ngIf="utente">
                <ng-container
                  *ngIf="favoriteMovies; then movies; else noMovies"
                ></ng-container>

                <ng-template #movies>
                  <div
                    *ngIf="checkMatch(singleMovie.id) === true; else noMovies"
                  >
                    <button
                      class="btn btn-danger w-100"
                      type="button"
                      (click)="removeFavorite(singleMovie.id)"

                    >
                      REMOVE FROM FAVORITES
                    </button>
                  </div>
                </ng-template>

                <ng-template #noMovies>
                  <button
                    class="btn btn-success w-100"
                    type="button"
                    (click)="addFavorite(singleMovie.id)"
                  >
                    ADD TO FAVORITES
                  </button>
                </ng-template>

              </ng-container>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #sorry>
  <div class="row d-flex justify-content-center align-items-center col-4">
    Sorry, something is wrong. Please try later!
  </div>
</ng-template>
