<ol *ngIf="myArray.length !== 0" class="contenitoreTask">
  <ng-container *ngFor="let i of myArray">
    <!-- Creo <li> solo se ilparametro completed e' true -->

    <li *ngIf="i.completed === true" class="d-flex py-3">
      <div
        class="d-flex w-100 justify-content-between align-items-center text-start taskWrapper"
      >
        <p class="mb-0">{{ i.title }}</p>
        <div class="d-flex ms-md-auto align-items-center completedWrapper">
          <input type="checkbox" class="me-md-2" />

          <!-- rimuovo definitivamente dall'array il task completato -->

          <button class="btn btn-warning" (click)="removeTask(i)">
            COMPLETED
          </button>
        </div>
      </div>
    </li>
  </ng-container>
</ol>
