.contenitoreTask {
  width: 70%;
  margin: 0 auto;

  ol {
    list-style: none;
    padding: 0;

    li {
      border-bottom: 1px solid rgba(174, 170, 170, 0.901);
    }
  }

}


@media screen and (max-width: 992px) {

  .contenitoreTask {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {

  .taskWrapper {
    flex-direction: column;
    row-gap: 1rem;

    p {
      width: 100%;
      font-size: 1.2em;

      .completedWrapper {
        width: 100%;
        flex-direction: row-reverse;

        input {
          align-self: center;
          width: 20px;
          margin-right: auto;

          .btn-warning {
            width: 43%;
            margin-right: 1rem;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 411px) {

  .completedWrapper {
    justify-content: space-between;

    .btn-warning {
      width: 80%;
      margin-right: 0;
    }

    input {
      margin: 0;
    }
  }
}