#generalInfo {
    background-color: white;
    padding: 3rem 0 1.5rem;
    border-bottom: 1px solid rgb(203, 201, 201);
}

#generalInfo .singleInfo {
    margin-bottom: 1.5rem;
}

.generalInfo-logo {
    width: 60px;
    background-color: #FFEEDA;
}