header {
    background-color: white;
}

.nav-bell {
    width: 40px;
    background-color: #F5F4F9;
    position: relative;
}

.nav-bell .circle {
    background-color: #5C5777;
    width: 12px;
    height: 12px;
    position: absolute;
    border: 3px solid white;
    top: 0;
    right: 1px;
}

.circle2 {
    background-color: #19CB98;
    width: 12px;
    height: 12px;
    position: absolute;
    border: 3px solid white;
    top: 30px;
    right: 1px;
}