#hero {

    padding-left: 10rem;
    margin-bottom: 4rem;

    .hero-welcome {
        padding: 2rem;

        .welcome-text {
            color: #BCA9FF;
            margin-bottom: 1rem;
        }
    }

    .hero-image {
        overflow: hidden;

        .hero-img {
            object-fit: cover;
            width: 100%;
        }

    }

}