.hero-welcome {
    padding: 2rem 2rem 2rem 8rem;

    .welcome-text {
        color: #BCA9FF;
        margin-bottom: 1rem;
    }
}

.hero-image {
    overflow: hidden;

    .hero-img {
        object-fit: cover;
        width: 100%;
    }

}