@import "./partials/header";

@import "./partials/heroSection";

@import "./partials/carouselSection";

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: white;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    animation: testo 3s backwards 2s;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: testo 3s backwards 3s;
}

p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

main {
    display: flex;
    justify-content: center;
}